{% extends 'base.html.twig' %}


{% block content %}
    <div class="container">
        <div class="row">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for key, artwork in randomArtworks %}
                        <li data-target="#carouselExampleIndicators"
                            data-slide-to="{{ key }}"
                            class="{{ key == 0 ? 'active' : '' }}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for key, artwork in randomArtworks %}
                        <div class="carousel-item {{ key == 0 ? 'active' : '' }}">
                            <a href="{{ url('admin.artwork.update', { id: artwork.id }) }}">
                                <img class="d-block w-100" src="{{ asset('img/artwork/' ~ artwork.picture) }}" alt="">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ artwork.name }}</h5>
                                    <p>{{ artwork.description | truncate(20, true) }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>




{% endblock %}