{% extends 'admin/admin.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Formulaire de modification d'une oeuvre</h1>
        {{ form_start(form, { attr : { novalidate: 'novalidate' } }) }}
        <p>
            {{ form_label(form.name, 'Nom: ') }}
            {{ form_widget(form.name) }}
        </p>
        <p>
            {{ form_label(form.description, 'Description: ') }}
            {{ form_widget(form.description) }}
        </p>
        <p>
            {{ form_label(form.category, 'Categorie: ') }}
            {{ form_widget(form.category) }}
        <p>
            {{ form_label(form.picture, 'Image: ') }}
            {{ form_widget(form.picture) }}
        </p>
        <p>
            <input type="submit" value="Valider" class="btn btn-primary">
        </p>
        {{ form_end(form) }}
    </div>
{% endblock %}