{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <h1>Formulaire de contact</h1>
        {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
        <p>
            {{ form_label(form.name, 'Nom: ') }}
            {{ form_widget(form.name, { attr: { placeholder: 'Saisissez votre nom' } }) }}
        </p>
        <p>
            {{ form_label(form.email, 'Email: ') }}
            {{ form_widget(form.email) }}
        </p>
        <p>
            {{ form_label(form.message, 'Message: ') }}
            {{ form_widget(form.message) }}
        </p>
        <p>
            <input type="submit" value="Valider" class="btn btn-dark">
        </p>
        {{ form_end(form) }}
    </div>
{% endblock %}
